.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-photo-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details {
    flex-grow: 1;
  }
  
  .buttons button:nth-child(1) {
    background-color: red;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
  }
  .buttons button:nth-child(2) {
    background-color: green;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .approve-button{
    background-color: #24553c;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
  }
  .print-btn {
    margin-right: 10px;
  }
  
  @media print {
    .print-btn {
      display: none;
    }
  }
  .react-datepicker-wrapper{
    margin: 1rem 1rem;
  }
  button{
    width: 30%;
    margin: 1rem auto;
  }
  .filter-card{
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #0c4b0c;
  }
  .para-text{
    text-align: center;
    font-size: 14px;
  }
  .kusang-cont {
    text-align: center;
  }
  .kusang-cont .dropdown {
    width: 30%;
  }
  button:disabled {
    opacity: 0.5; /* Reduce opacity to visually indicate that the button is disabled */
    cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
    /* Add any other styles to customize the appearance of disabled buttons */
    background-color: grey;
  }
  